.notification{
    position: fixed;
    width: 100%;
    z-index: 2;
    bottom: 0;
    left: 0;
    color: #fff;
    padding: 15px 0;
    &.success{
        background-color: green;
    }
    &.error{
        background-color: maroon;
    }
    &.pending{
        background-color:paleturquoise;
        color: #000;
    }
    .wrapper{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}